<%- contentFor('HeaderCss') %>




<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search" >
        <h3 class="page-title">Cockpit</h3>
    </li>
</ul>

<%- contentFor('body') %>

<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="mini-stat clearfix bg-white">
          <div class="mini-stat-info">
            <!-- <span class="counter" style="padding-bottom:20px;"><%=project.project_name %></span> -->
            <span class="counter" style="padding-bottom:20px;">Virtual Contact Center</span>
          </div>
          
          <div>
            <!-- <strong>Headline:</strong> <%=project.project_headline %> -->
            <strong>Headline:</strong> Headline: Able to take a call from anywhere in the world.
          </div>
          <div>
            <!-- <strong>Sponsor:</strong> 
            <% if(project.sponsor_last_name){ %>
                <%=project.sponsor_last_name %>, <%=project.sponsor_last_name %>
            <%}%> -->
            <strong>Sponsor:</strong> VP of CE
          </div>
          <div>
            <!-- <strong>Prime:</strong> 
            <% if(project.prime_last_name){ %>
                <%=project.prime_last_name %>, <%=project.prime_first_name %>
            <%}%> -->
            <strong>Prime:</strong> 
            Adrian Nadeau

          </div>
          <div>
            <strong>Start:</strong> 
            Mar 3, 2024
        </div>
          
          <!-- <% if(project.end_date){ %>
            <%=project.end_date %>
        <%}%> -->
        <div>
          <strong>End:</strong> 
          Nov 15, 2024
      </div>
        
        <div>
          <div>
          <strong>Next Milestone Date:</strong> 
          Aug 9, 2024
          <!-- <% if(project.next_milestone_date){ %>
            <%=project.next_milestone_date %>
        <%}%> -->
        
        </div>
       
          <div>
            <strong>Investment:</strong>
            $450,000
              <!-- $<%=project.project_cost %> -->
          
          </div>
          <div>
            <strong>Effort:</strong>
            2K PH
               <!-- <%=project.project_cost %> -->
          
          </div>
          <div>
            
            <strong>Why:</strong>
            <textarea class="form-control" id="project_why" rows="3" disabled>We are struggling to find talent for all timezones in a single geography so need to bring call center features to staff wherever they are
            </textarea>
            <!-- <%=project.project_why %> -->
          
          </div>
          <div>
            
            <strong>What:</strong>
            <textarea class="form-control" id="project_what" rows="3" disabled>Implement a Virtual Call Center solution, that allows agents to work from home or small geographic centers 
            </textarea>
            <!-- <%=project.project_why %> -->
          
          </div>
          <div>
            <strong>Tags:</strong>
            <br/>
            <button type="button" class="btn btn-warning">Strategy</button>&nbsp;<button type="button" class="btn btn-primary">Customer Service</button>
            <!-- <%=project.tags %> -->
          </div>
          <div class="clearfix"></div>
        </div>
        <div>
          <strong>Change Log:</strong>
          <textarea class="form-control" id="project_what" rows="3" disabled>Sept 30 - Increased Budget $100K.
May 30 - Changed End Date to Nov 14, 2023
May 1 - Approved to Delivery

          </textarea>
          
  
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      
    
    </div>
      
    <div class="col-4">
      <div class="mini-stat clearfix bg-white" style="min-height: 680px;">
        <div class="mini-stat-info">
          <select name="priority_id_fk" id="priority_id_fk">
            <option value="">August 1, 2023 - Adrian Nadeau</option>
          </select>
        </div>
        <br/>
        <div class="mini-stat-info cockpit-right">
          <strong>Accomplishments:</strong><br/>
          <textarea class="form-control" id="project_accomplishments" rows="3" disabled>
          </textarea>
        </div>
        
        <div class="clearfix"></div>
        <strong>Issues:</strong><br/>
        <div class="mini-stat-info  cockpit-right">
          <textarea class="form-control" id="project_accomplishments" rows="3" disabled>
          </textarea>

        </div>
        <div class="mini-stat-info  cockpit-right">
          <strong>Actions:</strong>
          <textarea class="form-control" id="project_accomplishments" rows="3" disabled>
          </textarea>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
    
     

</div>


<%- contentFor('FooterJs') %>
<script src="/public/assets/plugins/peity-chart/jquery.peity.min.js"></script>
<!--C3 Chart-->
<script src="/public/assets/plugins/d3/d3.min.js"></script>
<script src="/public/assets/plugins/c3/c3.min.js"></script>
<!-- KNOB JS -->
<script src="/public/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="/public/assets/plugins/jquery-knob/jquery.knob.js"></script>
<!-- Page specific js -->
<script src="/public/assets/pages/dashboard.js"></script>

 <%- contentFor('BottomJs') %>

 
 
