<%- contentFor('HeaderCss') %>




<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search" >
        <h3 class="page-title">Cockpit</h3>
    </li>
</ul>

<%- contentFor('body') %>

<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="mini-stat clearfix bg-white">
          <div class="mini-stat-info">
            
            <span class="counter" style="padding-bottom:20px;"><%=project[0].project_name%></span>
          </div>
          
          <div>
            <strong>Headline:</strong> <%=project[0].project_headline %>
            <!-- <strong>Headline:</strong> Able to take a call from anywhere in the world. -->
          </div>
          <div>
            <strong>Sponsor:</strong> 
            <% if(project[0].sponsor_last_name){ %>
                <%=project[0].sponsor_last_name %>, <%=project[0].sponsor_last_name %>
            <%}%>
           
            </div>
          <div>
            <strong>Prime:</strong> 
            <% if(project[0].prime_last_name){ %>
                <%=project[0].prime_last_name %>, <%=project[0].prime_first_name %>
            <%}%>
            
          </div>
          <div>
            <strong>Start:</strong> 
            <% if(project[0].start_date){ %>
              <%= project[0].start_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
            <%}%>
        </div>
          
         
        <div>
          <strong>End:</strong> 
          <% if(project[0].end_date){ %>
            <%= project[0].end_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
          <%}%>
      </div>
        
        <div>
          <div>
          <strong>Next Milestone Date:</strong> 
          <% if(project[0].next_milestone_date){ %>
            <%= project[0].next_milestone_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
          <%}%>
        
        
        </div>
       
          <div>
            <strong>Investment:</strong>
          
              $<%=project[0].project_cost %>
          
          </div>
          <div>
            <strong>Effort:</strong>
            2K PH
               
          
          </div>
          <div>
            
            <strong>Why:</strong>
            <textarea class="form-control" id="project_why" rows="3" disabled><%=project[0].project_why %>
            </textarea>
          
          </div>
          <div>
            
            <strong>What:</strong>
            <textarea class="form-control" id="project_what" rows="3" disabled><%=project[0].project_what %> 
            </textarea>
           
          </div>
          <div>
            <strong>Tags:</strong>
            <br/>
            <button type="button" class="btn btn-warning">Strategy</button>&nbsp;<button type="button" class="btn btn-primary">Customer Service</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div>
          <strong>Change Log:</strong>
          <textarea class="form-control" id="change_log" rows="3" disabled>
            Loop through status values
          </textarea>
          
  
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      
    
    </div>
      
    <div class="col-4">
      <form action="/statuses/" class="needs-validation" novalidate method="POST">
      <input type="hidden" id="project_id" name="project_id" value="<%=project[0].id %>"/>
      <input type="hidden" id="prime_id_fk" name="prime_id_fk" value="<%=project[0].prime_id_fk %>"/>

      
      <div class="mini-stat clearfix bg-white" style="min-height: 680px;">
        <div class="mini-stat-info">
          <select name="prime_id" id="prime_id">
            <option value=""><%= current_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %> -  <% if(project[0].prime_last_name){ %>
              <%=project[0].prime_last_name %>, <%=project[0].prime_first_name %>
          <%}%></option>
          </select>
        </div>
        <br/>
        <div class="mini-stat-info cockpit-right">
          <strong>Accomplishments:</strong><br/>
          <textarea class="form-control" id="status_accomplishments" name="status_accomplishments" rows="3"></textarea>
        </div>
        
        <div class="clearfix"></div>
        <strong>Issues:</strong><br/>
        <div class="mini-stat-info  cockpit-right">
          <textarea class="form-control" id="status_issues" name="status_issues" rows="3"></textarea>

        </div>
        <div class="mini-stat-info  cockpit-right">
          <strong>Actions:</strong>
          <textarea class="form-control" id="status_actions" name="status_actions" rows="3"></textarea>
        </div>
      
        <div class="mini-stat-info  cockpit-right">
          <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Update Status</button>
        </div>
        
    </form>
  </div>
    
     

</div>


<%- contentFor('FooterJs') %>
<script src="/public/assets/plugins/peity-chart/jquery.peity.min.js"></script>
<!--C3 Chart-->
<script src="/public/assets/plugins/d3/d3.min.js"></script>
<script src="/public/assets/plugins/c3/c3.min.js"></script>
<!-- KNOB JS -->
<script src="/public/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="/public/assets/plugins/jquery-knob/jquery.knob.js"></script>
<!-- Page specific js -->
<script src="/public/assets/pages/dashboard.js"></script>

 <%- contentFor('BottomJs') %>

 
 
