
<% include ../Partials/HeaderRoot  %>

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">
               
                    <h3 class="text-center m-0">
                        <!-- Priority Pilot -->
                        <a href="/" class="logo logo-admin"><img src="public/assets/images/logo.png" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <p class="text-muted text-center">Get your Pilot account.</p>
                        

                        <form class="form-horizontal m-t-30 needs-validation" novalidate action="/register" method="POST">
                            <input type="hidden" name="register_yn" value="y"/>
                            <div class="form-group needs-validation" novalidate>
                                <label for="company_name">Company Name</label>
                                <input type="text" class="form-control" id="company_name"  name="company_name" placeholder="Enter Name..." required>
                                <div class="invalid-feedback">
                                    Please enter company name.
                                  </div>
                            </div>

                            <div class="form-group">
                                <label for="company_headline">Company Headline</label>
                                <input type="text" class="form-control" id="company_headline" name="company_headline" placeholder="Enter Headline...">
                            </div>

                            <div class="form-group">
                                <label for="company_description">Company Description</label>
                                <textarea class="form-control" id="company_description" name = "company_description" placeholder="Enter Description..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="company_logo">Company Logo (will be pushed to storage bucket)</label>
                                <input type="file" class="form-control" id="logo" name="logo" />
                            </div>
                           

                            <div class="form-group row m-t-20">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Continue</button>
                                </div>
                            </div>

                            <!-- <div class="form-group m-t-10 mb-0 row">
                                <div class="col-12 m-t-20">
                                    <p class="font-14 text-muted mb-0">By registering you agree to the Priority Pilot <a href="#">Terms of Use</a></p>
                                </div>
                                <div class="col-12 m-t-20">
                                    <p class="font-14 text-muted mb-0">Already have an account? <a href="/login">Login</a></p>
                                </div>
                            </div> -->
                            <div class="col-12 m-t-20">
                                <p class="font-14 text-muted mb-0">By registering you agree to the Priority Pilot <a href="#">Terms of Use</a></p>
                            </div>
                            <div class="m-t-40 text-center">
                                <p>Already have an account ? <a href="/login" class="font-500 font-14 font-secondary"> Login </a> </p>
                                <p>© <%= new Date().getFullYear() - 1; %> - <%= new Date().getFullYear(); %> Priority Pilot.
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- <div class="m-t-40 text-center">
                <p class="font-14 text-muted mb-0">©  <%= new Date().getFullYear(); %> Priority Pilot.</p>
                
            </div> -->

        </div>


        <% include ../Partials/FooterRoot  %>
<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
























<%- contentFor('HeaderCss') %>
<!-- Bootstrap CSS -->


<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Projects</h3>
        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#addProject" id="btnAddProject">Add Project</button>
        
    </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-body" style="border:0px !important;">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Prime</th>
                                        <th>Sponsor</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Health</th>
                                        <th>Phase</th>
                                    </tr>
                                </thead>
                               
                                <% projects.forEach(function(project) { %>
                                  <tbody>
                                      <tr style="cursor: pointer;">
                                        <input type="hidden" name="project_id" value = "<%= project.id %>"/>
                                        <td><%= project.id %></td>
                                        <td><%= project.project_name %></td>

                                        <% if(project.prime_last_name){ %>
                                            <td><%= project.prime_last_name %>, <%= project.prime_first_name %> </td>
                                        <% } else { %>
                                            <td>N/A</td>
                                        <% } %>

                                        <% if(project.sponsor_last_name){ %>
                                          <td><%= project.sponsor_last_name %>, <%= project.sponsor_first_name %> </td>
                                        <% } else { %>
                                          <td>N/A</td>
                                        <% } %>
                                       
                                        
                                        <td>
                                          <% if(project.start_date){ %>
                                              <%= project.start_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                                            <%}%>
                                       </td>
                                       <td>
                                        <% if(project.end_date){ %>
                                            <%= project.end_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                                          <%}%>
                                     </td>
                                        <td><%= project.health %></td>
                                        <td><%= project.phase_name %></td>
                                        
                                      </tr>
                                  </tbody>
                              <% }); %>
                              
                             
                            </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-t-30">
                <!-- project modal content -->
                <div id="addProject" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content" style="width: 900px;">
                          <div class="modal-header">
                              <h5 class="modal-title mt-0">Add Project</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          </div>
                          <div class="modal-body">
                              <form action="/projects" class="needs-validation" novalidate method="POST">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <!-- First column of form fields -->
                                          <div class="form-group needs-validation" novalidate>
                                              <label for="project_name">Name</label>
                                              <input type="text" class="form-control" id="project_name"  name="project_name" required>
                                              <div class="invalid-feedback">
                                                  Please enter project name.
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <label for="project_headline">Headline</label>
                                              <input type="text" class="form-control" id="project_headline"  name="project_headline"  >
                                          </div>
                                          <div class="form-group" >
                                            <label for="project_description">Description</label>
                                            <textarea rows="4" class="form-control" id="project_description"  name="project_description" ></textarea>
                                        </div>
                                        <div class="form-group" >
                                            <label for="project_headline">Why?</label>
                                            <textarea rows="4" class="form-control" id="project_why"  name="project_why" ></textarea>
                                        </div>
                                        <div class="form-group" >
                                          <label for="project_headline">What?</label>
                                          <textarea rows="4" class="form-control" id="project_what"  name="project_what"  ></textarea>
                                         
                                        </div>
                                        <div class="form-group">
                                          <label for="datepicker">Start Date:</label>
                                          <input type="date" id="start_date" name="start_date" class="form-control">
                                        </div>
                                        <div class="form-group">
                                          <label for="datepicker">End Date:</label>
                                          <input type="date" id="end_date" name="end_date" class="form-control">
                                        </div>
                                        <div class="form-group">
                                          <label for="datepicker">Next Milestone Date:</label>
                                          <input type="date" id="next_milestone_date" name="next_milestone_date" class="form-control">
                                        </div>
                                        <div class="form-group">
                                          <label for="datepicker">Status Date:</label>
                                          <input type="input" id = "status_date" disabled><br/>
                                          ** Pulled in from last update</input>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                         
                                        </div>
                                        <div class="form-group">
                                          <label for="phase">Phase:</label>
                                          <select name ="phase_id_fk" id = "phase_id_fk">
                                            
                                            <% phases.forEach(function(phase){ %>
                                              <option value="<%= phase.id %>"><%= phase.phase_name %></option>
                                            <% }) %>
                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="priority">Priority:</label>
                                          <select name = "priority_id_fk" id = "priority_id_fk">
                                           
                                            <% priorities.forEach(function(priority){ %>
                                              <option value= "<%= priority.id %>"><%= priority.priority_name %></option>
                                            <% }) %>
                                          </select>
                                        </div>
                                        
                                        <div class="form-group">
                                          <label for="sponsor">Sponsor:</label>
                                          <select name = "sponsor_id_fk" id = "sponsor_id_fk">
                                            
                                            <% sponsors.forEach(function(sponsor){ %>
                                              <option value="<%= sponsor.id %>"><%= sponsor.last_name %>, <%= sponsor.first_name %> </option>
                                            <% }) %>
                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="prime">Prime:</label>
                                          <select name = "prime_id_fk" id = "prime_id_fk">
                                            
                                            <% primes.forEach(function(prime){ %>
                                              <option value="<%= prime.id %>"><%= prime.last_name %>, <%= prime.first_name %> </option>
                                            <% }) %>
                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="benefit">Benefit:</label>
                                          <select name = "benefit" id = "benefit">
                                            
                                            <% for (var i = 1; i <= 10; i++) { %>
                                              <option value="<%= i %>"><%= i %></option>
                                            <% } %>
                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="effort">Effort:</label>
                                          <select name = "effort" id = "effort">
                                            
                                            <% for (var i = 1; i <= 10; i++) { %>
                                              <option value="<%= i %>"><%= i %></option>
                                            <% } %>
                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="impact">Impact:</label>
                                          <select name = "impact" id = "impact">
                                            
                                            <% for (var i = 1; i <= 10; i++) { %>
                                              <option value="<%= i %>"><%= i %></option>
                                            <% } %>
                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="complexity">Complexity:</label>
                                          <select  name = "complexity" id = "complexity">
                                            
                                            <% for (var i = 1; i <= 10; i++) { %>
                                              <option value="<%= i %>"><%= i %></option>
                                            <% } %>
                                          </select>
                                        </div>
                                        <div class="form-group" >
                                          <label for="project_cost">Cost</label>
                                          <input type="text" class="form-control" id="project_cost"  name="project_cost" value="0">
                                         
                                      </div>
                                      
                                        <div class="form-group" >
                                          <label for="project_health">Health</label>
                                          Green
                                         
                                       </div>
                                       <div class="form-group" >
                                        <label for="project_tags">Tags (comma separated)</label>
                                        <input type="text" class="form-control" id="project_tags"  name="project_tags" >
                                       
                                    </div>
                                    <div class="form-group" >
                                        <label for="progress">Progress % (numbers only)</label>
                                        <input type="text" class="form-control" id="progress"  name="progress" value="0" >
                                       
                                    </div>
                                  
                            
                                    <div class="form-group" >
                                        <label class="form-label" for="logo"></label>
                                        <input type="file" class="form-control" id="logo" name="logo" />
                                    </div>
                                      </div>
                                  </div>
                                  <!-- Add more rows and columns if needed -->
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                      <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Submit</button>
                                      <!-- if edit, add delete button -->
                                      <!-- <button class="btn btn-danger w-md waves-effect waves-light" onClick='openDeleteModal()' type="button">Delete</button> -->
                                      <!-- if edit, add delete button -->
                                  </div>
                              </form>
                          </div>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              
            </div>
        </div> <!-- end row -->
    </div>
</div>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
<script>
  (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
  document.getElementById('progress').addEventListener('keydown', function(event) {
    // Allow: backspace, delete, tab, escape, enter, and decimal point (if not present)
    if ([46, 8, 9, 27, 13, 110, 190].includes(event.keyCode) ||
        // Allow: Ctrl+A
        (event.keyCode === 65 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: Ctrl+C
        (event.keyCode === 67 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: Ctrl+V
        (event.keyCode === 86 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: Ctrl+X
        (event.keyCode === 88 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: home, end, left, right
        (event.keyCode >= 35 && event.keyCode <= 39)) {
             // let it happen, don't do anything
             return;
    }
    // Ensure that it is a number and stop the keypress if not
    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
        alert("Only numbers are allowed")
        event.preventDefault();
    }
});
document.getElementById('project_cost').addEventListener('keydown', function(event) {
    // Allow: backspace, delete, tab, escape, enter, and decimal point (if not present)
    if ([46, 8, 9, 27, 13, 110, 190].includes(event.keyCode) ||
        // Allow: Ctrl+A
        (event.keyCode === 65 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: Ctrl+C
        (event.keyCode === 67 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: Ctrl+V
        (event.keyCode === 86 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: Ctrl+X
        (event.keyCode === 88 && (event.ctrlKey === true || event.metaKey === true)) || 
        // Allow: home, end, left, right
        (event.keyCode >= 35 && event.keyCode <= 39)) {
             // let it happen, don't do anything
             return;
    }
    // Ensure that it is a number and stop the keypress if not
    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
        alert("Only numbers are allowed")
        event.preventDefault();
    }
})
function clearModalFields() {
        // Get all input elements within the modal
        var inputs = document.querySelectorAll('#addProject input, #addProject textarea, #addProject select');

        // Loop through each input element
        inputs.forEach(function(input) {
           // Reset the value of the input element
           if (input.id === 'project_cost'|| input.id === 'progress') {
                input.value = '0'; // Set project_cost to 0
            } else {
                input.value = ''; // Clear other fields
            }
        });
    }
     // Get the clear button element
     var addProjectBtn = document.getElementById('btnAddProject');

// Add a click event listener to the clear button
addProjectBtn.addEventListener("click", function() {
    // Call the function to clear all modal fields
    clearModalFields();
    
});
 // Wait for the DOM to be ready
 document.addEventListener("DOMContentLoaded", function() {
        // Get all table rows
        var rows = document.querySelectorAll(".table tbody tr");

        // Loop through each row
        rows.forEach(function(row) {
          
            // Add a click event listener to each row
            row.addEventListener("click", function() {
                // pages-project-edit
                var projectId = row.querySelector('input[name="project_id"]').value;
                console.log("projectid:",projectId)
                // window.location.replace('/Pages/pages-projects-edit');
                 // Send a GET request to the server with the project ID
                  fetch('/projects/' + projectId)
                    .then(response => {
                      if (!response.ok) {
                        throw new Error('Network response was not ok');
                      }
                      return response.json(); // Parse the JSON response
                    })
                    .then(data => {
                      // Handle the response data here
                      console.log("RESPONSE:",data);
                      // Redirect or perform any other action based on the response
                      // For example, if you want to redirect to a new page:
                      // window.location.href = '/projects/' + projectId;
                    })
                    .catch(error => {
                      console.error('There was a problem with the fetch operation:', error);
                    });
                  
                 
            });
        });
    });
    
</script>